*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(75deg, #614385, #516395);
}
.container{
    max-width: 500px;
    margin: 200px auto;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 25px rgba(90, 87, 87, 0.3);
}
h1{
    text-align: center;
    margin-bottom: 20px;
}
.status p{
    margin: 10px 0;
}